*{
    margin: 0;
}

body{
    margin: 0;
}

section{
    width: 100%;
    height: 200px;
    background-color: gray;
}
.title h1{
    text-align: center;
    font-size: 35px;
}

.main-contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}
.contain1{
    box-sizing: border-box;
    border: 2px black solid;

}