*{
    margin: 0;
}

body{
    margin: 0;
}

.page{
    margin: 40px 150px;
}

/*Title*/
section{
    width: 100%;
    height: 200px;
    background-color: gray;
}
.title h1{
    margin-top: 19px;
    text-align: center;
    font-size: 35px;
}

/*Contain*/
.main-contain{
    display: grid;
    grid-template-columns: 29.5% 29.5% 29.5%;
    grid-gap: 70px;
}
.contain1{
    box-sizing: border-box;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contain1 img{
    width: 40px;
    height: 40px;
    padding-top: 25px;
}
.contain1 a{
    text-decoration: none;
    color: black;
    font-size: 20px
}
#sosmed1{
    width: 20px;
    height: 20px;
    padding-top: 8px;
}


.sub-contain{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 40px;
}

/*location*/
.contain2{
    box-sizing: border-box;
    border: 2px black none;
}
.contain2 h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

/*Input Contact*/
.contain3{
    box-sizing: border-box;
    border: 2px black none;
}
.contain3 h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.form-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}
.form-flex{
    width: 50%;
}
.form-flex input{
    width: 269px;
    padding: 10px 5px;
}


.form-dex input{
    width: 567.5px;
    padding: 10px 5px;
}

input{
    font-size: 14px;
}

textarea{
    width: 575px;
}

button{
    height: 30px;
    width: 80px;
}

button:hover{
    background-color: black;
    color: white;
    border: 0;
}



@media screen and (max-width: 480px){
    /*Title*/
    .page{
        margin: 40px 20px;
    }

    section{
        width: 100%;
        height: 130px;
    }

    .title h1{
        margin-top: 0;
        font-size: 25px;

    }  

    /*Contain*/
    .main-contain{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 145px 145px 145px;
        grid-gap: 10px;
    }

    .contain1 p{
        text-align: center;
    }
    
    /*location*/
    .sub-contain{
        margin: 40px 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 350px;
    }
    .contain2 iframe{
        height: 300px;
    }

    /*contact*/
    .form-row{
        margin-bottom: 17px;
    }

    .form-flex{
        flex-direction: row;
        width: 100%;
    }
    .form-flex input{
        width: 92.7%;
    }
    .form-dex2{
        width: 240%;
        max-width: 440px;
    }
    .form-dex input{
        width: 100%;
        max-width: 100%;
    }
    textarea{
        width: 100%;
        max-width: 100%;
    }
}   
