@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@media screen and (max-width: 843px){
    .topnav{
        display: none;
    }
    .topnav2{
        display: none;
    }
}

@media screen and (max-width: 843px){
    .topnav2.responsive {position: relative;}
    .topnav2.responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0 ;
    }
    .topnav2.responsive a {
        padding: 20px 15px;
        text-decoration: none;
        color: black;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    #border{
        border: none;
    }
    #click-bar{
        transition: 1s;
    }
    .topnav2.responsive a:hover{
        background-color: gray;
    }
}

@media screen and (min-width: 843px){
    .burger{
        display: none;
    }
    .topnav2{
        display: none;
    }
}