@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');



/* Media 800px */
@media screen and (max-width: 800px) {
  /* navbar */
  .navbar ul li a{
        justify-content: space-between;
        text-align: center;
        font-size: 14px;
  }
  .logo{
        width: 12%;
  }
  .carousel{
    max-width: 100%;
    max-height: 100%;
}
  .text{
    position: absolute;
    width: 100%;
    top: 55%; 
    text-align: center;
    color: whitesmoke;
}
  .text h1{
  font-size: 25px;
  margin-top: 80px;
}
  .text .p{
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
}
  button{
  padding: 15px 0;
  margin: 30px 10px; 
}

/* About US */
  .exp-respon{
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: 200px;
    grid-gap: 100px;
  }
  #about{
    padding: 200% 0;
  }
   
   

  /* Service */
  .columns {
    padding: 30px;
    width: 100%;
}
}


/* Media 600px */
@media (min-width: 601px){
.exp-col.m6  {
    width: 49.99999%;
    }
.exp-third{
    width: 33.33333%;
}
}


 @media only screen and (max-width: 600px) {
  .navbar ul li a{
    display: none;
  }
    .columns {
        width: 100%;
    }
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
    .exp-new{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 100px;
    }
}     




/* Media 400px */
@media screen and (max-width: 400px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
    .navbar ul li a{
        display: none;
    }
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}


@-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
  