@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');



/* Media 800px */
@media screen and (max-width: 800px) {
   
  .carousel{
    max-width: 100%;
    max-height: 100%;
}
  .text{
    position: absolute;
    width: 100%;
    top: 55%; 
}
  .text h1{
  font-size: 25px;
  margin-top: 80px;
}
  .text .p{
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
}
  button{
  padding: 15px 0;
  margin: 30px 10px; 
}

/* About US */
  .exp-respon{
    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: 200px;
    grid-gap: 100px;
  }
  #about{
    padding: 200% 0;
  }

  /* Product */
  .exp-round-large{
    width: 200%;
    height: 80%;
  }

  /* Service */
  .columns {
    padding: 30px;
    width: 100%;
}
}


/* Media 600px */
@media (min-width: 601px){
.exp-col.m6  {
    width: 49.99999%;
    }
.exp-third{
    width: 33.33333%;
}
}


 @media only screen and (max-width: 600px) { 
  
  

  .exp-product{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px;
    grid-gap: 100px;

  }



  /* Skill */
  .exp-new{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 100px;
    }
  
  /* Our Work */
  .columns {
    width: 100%;
    }
    .gallery {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  .container{
    font-size: 15px;
  }

}     




/* Media 400px */
@media screen and (max-width: 450px) {

  /* Carousel */
.text{
    position: absolute;
    width: 100%;
    top: 60%; 
}
.text h1{
  font-size: 20px;
  margin-top: 80px;
}
  .text .p{
  font-size: 12px;
  font-weight: 100;
  line-height: 25px;
}
button{
  padding: 10px 0;
  margin: 10px 0;
  margin-top: 30px; 
}


/* about */

.exp-respon{
  display: grid; 
  grid-template-columns: auto;
  grid-template-rows: 300px 300px 300px 200px;
  grid-gap: 100px;
}
#about{
  padding: 200% 0;
}

/* Product */
.exp-product{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px;
  grid-gap: 150px;

}
.exp-round-large{
  height: 110%;
}

  /* Gallery */
    .column {
    flex: 100%;
    max-width: 100%;
    } 
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

  /*Skill*/
  .exp-new{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 350px 200px 200px;
    grid-gap: 100px;
    }
}


@-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
@keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
}
  