/* Body */

* {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif; 
}
body{
    line-height: 1.8;
    min-height: 100vh;
}

/* Navbar */

.nav-link{
    background-color: white; 
    z-index: 1;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.411)(0, 0, 0, 0.411) 1px solid;
}
.logo{
    width: 100px;
    height: inherit;
    cursor: pointer;
    padding: 5px 2%;
}
.navbar ul{
    margin: 0 6%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 0 20px;
    letter-spacing: 0.2px;
   
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(31, 31, 31);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* Carousel */

.carousel{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), 
    url(https://wallpaperaccess.com/full/4503757.jpg);
    background-size: cover;
    background-position: center;
}
.text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding: 0;
    color: whitesmoke;
}
.text h1{
    font: 70px;
    margin-top: 80px;
}
.text .p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 30px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} 
#span{
    background: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover #span{
    width: 100%;
    color: black;
}

button:hover{
    border: none;
    color: black;
}




/* About Us */

.exp-center{
    text-align: center!important;
}
.exp-center h1 {
    font-size: 40px!important;
}
.exp-large{
    font-size: 18px!important;
} 
.exp-row-padding{
    display: flex; 
}
.fa{
    padding: 0 10px 30px;
}
.exp-quarter{
    padding: 0 20px;
}
 




/* Article */
.exp-light-grey{
    background-color: lightgrey; 
}
.exp-row-padding, .exp-col{
    padding: 0 8px;
}
.exp-black{
    color: white !important;
    background-color: black; 
    transition: 0.5s;
}
.exp-button{ 
    display: inline-block;
    padding: 8px 10px 5px 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none; 
    text-align: center;
    cursor: pointer; 
    margin: 15px 0;
    height: 30px;
}
.exp-black:hover{
    background-color: #4e4e4e;
    color: white !important;
}
.exp-image {
    max-width: 100%;
    height: auto;
}
.exp-round-large{
    border-radius: 8px;
}
.exp-container > img{
    right: 20;
}





/* Our Work */
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
    
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}





/* Skill */
.exp-light-grey{
    color: #000!important;
    background-color: #f1f1f1!important;
}
.exp-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.exp-container  {
    padding: 0.01em 16px;
} 
.exp-row-padding1 >.exp-col {
    padding: 0 8px;
}
.exp-wide {
    letter-spacing: 4px;
}
.exp-dark-grey  {
    color: #fff!important;
    background-color: #616161!important;
    height: 35px;
}
.exp-center {
    text-align: center!important;
    font-size: 18px;
} 
.exp-grey {
    background-color: #9e9e9e!important;
}
.exp-col > p{
    margin: 15px 0 0 0;
    font-size: 18px;
    
}
.exp-col > h3{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 35px;
}
.exp-wide, .exp-grey{
    margin: 5px 0;
}



/* Product */
.product{
    background-color: lightgrey;
    
}
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    box-sizing: border-box;
    background-color: lightgrey;
    padding-bottom: 80px;
    
    
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}

.price li { 
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
    border: none;
}

.button {
    background-color: #4d4766;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


  



/* Footer */
.container-fluid {
    width: 100;
    padding-right: 15px;
    margin: auto;  
    padding: auto;
    clear: both;
}
.py-4 {
    padding: 40px 0 !important;
    text-align: center;
    color: white;
}
.text-footer{
    margin-bottom: 0;
    font-family: 'Montserrat';
    color: #bababa;
    letter-spacing: 0.5px;
    text-align: center;
}
 