@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@media (min-width: 601px){
.exp-col.m6  {
    width: 49.99999%;
    }
}

@media screen and (max-width: 800px) {
    .column {
    flex: 50%;
    max-width: 50%;
    }
}
      
@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
}

* {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
}
body{
    line-height: 1.8;
}

/* Navbar */

.nav-link{
    background-color: white; 
    z-index: 1;
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 120px;
    cursor: pointer;
    margin: 5px 2%;
}
.navbar ul{
    margin: 0 6%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 0.2px;
   
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(31, 31, 31);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.navbar ul li:hover::after{
    width: 100%;
}



/* Carousel */

.carousel{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), 
    url(https://wallpaperaccess.com/full/4503757.jpg);
    background-size: cover;
    background-position: center;
}
.text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: whitesmoke;
}
.text h1{
    font: 70px;
    margin-top: 80px;
}
.text .p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 30px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid whitesmoke;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
#span{
    background: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover #span{
    width: 100%;
    
}

button:hover{
    border: none;
    color: black;
}






/* About Us */

.exp-center{
    text-align: center!important;
}
.exp-center h1 {
    font-size: 40px!important;
}
.exp-large{
    font-size: 18px!important;
} 
.exp-row-padding{
    display: flex; 
}
.fa{
    padding: 0 10px 30px;
}
.exo-quarter{
    padding: 0 20px;
}






/* Article */
.exp-light-grey{
    background-color: lightgrey;
}
.exp-row-padding, .exp-col{
    padding: 0 8px;
}
.exp-black{
    color: white !important;
    background-color: black; 
    transition: 0.5s;
}
.exp-button{ 
    display: inline-block;
    padding: 8px 10px 5px 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none; 
    text-align: center;
    cursor: pointer; 
    margin: 15px 0;
    height: 30px;
}
.exp-black:hover{
    background-color: white;
    color: black !important;
}
.exp-image {
   max-width: 100%;
   height: auto;
}
.exp-round-large{
    border-radius: 8px;
}
.exp-container > img{
    right: 20;
}


/* Our Work */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    flex: 10%;
    max-width: 25%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
   
 
 